<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.myapp.dao.MemberMapper">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.shop.myapp.dto.MemberDTO">
        SELECT * FROM TB_USER
        WHERE USER_ID= #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.shop.myapp.dto.MemberDTO">
        INSERT INTO TB_USER
        (USER_ID, USER_PW, USER_NAME, USER_AUTH, APPEND_DATE, UPDATE_DATE)
        VALUES(#{userId},#{userPw},#{userName},#{userAuth},#{appendDate},#{updateDate})
    </insert>
    
    <!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="com.shop.myapp.dto.MemberDTO">
        UPDATE TB_USER SET 
        USER_PW=#{userPw}, USER_NAME=#{userName} 
        WHERE USER_ID=#{userId}
    </update>
</mapper>